<li class='{{id}}'>
  <article class='card'>
    <img src='{{image}}' alt='{{name}}' class='card__image' />
    <div class='card__content'>
      <h2 class='{{name}}'>Картофель, запеченный в мундире</h2>
      <p class='{{price}}'>
        <i class='material-icons'> monetization_on </i>
        100 кредитов
      </p>

      <p class='{{description}}'>
        Ароматный, сытный, шипящий домашний картофель, фаршированный сметанно-беконной начинкой, —
        это очень простой и очень эффектный способ накормить большое количество человек, практически
        не потратив на готовку ни сил, ни времени. Обычную картошку при желании тут можно заменить
        на сладкий батат, а в начинку добавить, к примеру, кукурузу или сладкий красный перец.
      </p>

      <ul class='tag-list'>
        <li class='{{ingredients[0]}}'>Картофель</li>
        <li class='{{ingredients[1]}}'>Чеснок</li>
        <li class='{{ingredients[2]}}'>Сметана</li>
        <li class='{{ingredients[3]}}'>Бекон</li>
        <li class='{{ingredients[4]}}'>Твердый сыр</li>
        <li class='{{ingredients[5]}}'>Зеленый лук</li>
      </ul>
    </div>

    <button class='card__button button'>
      <i class='material-icons button__icon'> shopping_cart </i>
      В корзину
    </button>
  </article>
</li>